/* CORPO */

html, body.home-page {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

body.home-page {
    background-image: url('catalogo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

body.home-page::after {
    background-color: rgba(0, 0, 0, 0.6);
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
}

/* NAVBAR */

#logo {
    font-family: "Cinzel", serif;
    font-weight: bold;
    border-right: 1px solid #282e33;
    padding: 0px 10px;
}

#navbarNav {
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#searchInput {
    background-color: #c1c6cc;
}

.nav-item.dropdown {
    position: relative;
}

.dropdown-menu {
    opacity: 0;
    transition: opacity 0.3s ease;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000; 
    background-color: #212529 !important; 
    border-radius: 5px !important; 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.dropdown-columns {
    display: flex;
    gap: 20px;
}

.dropdown-columns ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.dropdown-columns ul + ul {
    border-left: 1px solid #c1c6cc;
    padding-left: 20px;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
}

.dropdown-item {
    color: #c1c6cc !important;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #343a40 !important;
    color: #ffffff !important;
}

/* CATALOGO */

#catalogo {
    margin-top: 2%;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
    text-align: center;
    color: #f8f9fa;
    font-family: "Cinzel", serif;
    font-size: 20px;
    margin-bottom: -2%;
}

.book-card {
    background-color: rgba(0, 0, 0, 0.6) !important; 
    border: 1px solid rgba(0, 0, 0, 0.6) !important;    
    border-radius: 8px;                    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white; 
    transition: all 0.3s ease;
}

.book-card:hover {
    background-color: rgba(0, 0, 0, 0.4) !important; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    transform: translateY(-5px);
}

.card-img-top {
    height: 100%;
    width: 100%; 
    object-fit: contain;
}

.btn-custom {
    background-color: #212529 !important; 
    border-color: #007bff !important;     
    color: white !important;              
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #0c0e0f !important; 
    border-color: #0056b3 !important; 
}

.card-title {
    text-align: center;
}

/* Wallpaper Carrinho */

html, body.about-page {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

body.about-page {
    background-image: url('./carrinho2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

body.about-page::after {
    background-color: rgba(0, 0, 0, 0.6);
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
}

/* RODAPÉ */

footer {
    background-color: #212529;
    color: #f8f9fa;
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    bottom: 0;
    left: 0;
}

.about-page footer {
    background-color: #212529;
    color: #f8f9fa;
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    bottom: 0;
    left: 0;
    position: fixed;
}