/* CORPO */

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, sans-serif;
}

/* BACKGROUNDS */

.background-1 {
    background-image: url('./Fotos/library.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.background-2 {
    background: linear-gradient(to right, #bd630f, #185792, #3085ca);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* NAVBAR */

#navbarNav {
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#searchInput {
    background-color: #c1c6cc;
}

.nav-item.dropdown {
    position: relative;
}

.dropdown-menu {
    opacity: 0;
    transition: opacity 0.3s ease;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000; 
    background-color: #212529 !important; 
    border-radius: 5px !important; 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.dropdown-columns {
    display: flex;
    gap: 20px;
}

.dropdown-columns ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.dropdown-columns ul + ul {
    border-left: 1px solid #c1c6cc;
    padding-left: 20px;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
}

.dropdown-item {
    color: #c1c6cc !important;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #343a40 !important;
    color: #ffffff !important;
}

/* CARROSSEL */

.carousel-inner .carousel-item {
    opacity: 0.77;
    animation: slide 2s infinite;
}

p{
    font-weight: bold;
    font-size: 120%;
}

/* BANNER */

.custom-banner-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.custom-banner-link {
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 100%;
    max-width: 80%;
    max-height: 250px;
}

.custom-banner-photo {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.custom-banner-link:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.custom-banner-link:hover .custom-banner-photo {
    transform: scale(1.1);
}

/* SOBRE */

#sobre {
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    text-align: justify;
    color: #f8f9fa;
}

.text-content {
    font-weight: bold;
    margin: 30px auto;
    text-align: center;
    text-align: justify;
    font-size: 1.2em;
    color: #f8f9fa;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

/* RODAPÉ */

footer {
    background-color: #212529;
    color: #f8f9fa;
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
    bottom: 0;
    width: 100%;
}